.footer {
  width: 100%;
  padding: 7px 0;
  background-color: #000;
  address {
    font-family: "Open Sans", sans-serif;
    color: #fff;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
  }
}
