* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

button {
  background-color: initial;
  border: initial;
  cursor: pointer;
}

.swal2-title {
  font-family: "Open Sans", sans-serif;
}
